<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1181769/pexels-photo-1181769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container">
    <h1><strong>FALL</strong>-ing <strong>prices for our September Sale</strong>!</h1>
    <p>20% OFF in all vynil records.</p>
    <a class="btn btn-success" href="#">Apply now</a>
  </div>
</div>

<div class= "container m-5 px-5 mx-auto">
<h2 class="text-center">Genres</h2>
  <div class="cards m-5 px-5">
    <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
      Rock
    </div>

    <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
      Pop
    </div>

    <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/17906692/pexels-photo-17906692/free-photo-of-blanco-y-negro-hombres-sentado-jugando.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
      Alternative
    </div>

    <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/733767/pexels-photo-733767.jpeg?auto=compress&cs=tinysrgb&w=400)">
      Jazz
    </div>

    <div class="card-category m-3 " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/8112576/pexels-photo-8112576.jpeg?auto=compress&cs=tinysrgb&w=400)">
      Hip-hop
    </div>
  </div>
</div>

<div id="vinyls">
<h2 class="text-center mb-5">Recently Added</h2>
  <% @vinyls.each do |vinyl|%>
    <div class="card-product m-2">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        '<%= link_to vinyl.title, vinyl_path(vinyl), class: "text-decoration-none"%>'
        <p><strong>Artist: </strong><%= vinyl.artist %></p>
        <p><strong>Genre: </strong><%= vinyl.genre %></p>

      </div>
    </div>
    <% end %>
</div>
