



  <div id="vinyls">
      <% @vinyls.each do |vinyl|%>
      <li class="list-group-item">
          <%= link_to vinyl.title, vinyl_path(vinyl), class: "text-decoration-none"%>
      </li>
      <% end %>
    </div>
  </div>
</div>
